﻿<main class="form-signin w-100 m-auto">
    <form action="/login/index" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control" name="Email" placeholder="name@example.com">
            <label>Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="Password" placeholder="Password">
            <label>Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
</main>