@model List<BlogDataModel>
@{
    ViewData["Title"] = "Blog Index";
    int count = 0;
    string message = null;
    bool isSuccess = false;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    }
}
<h4>
    <a href="/blog/create" class="btn btn-success">
        <i class="fa fa-plus"></i>
    </a>
    Blog List
</h4>

@if (message is not null)
{
    <div class="alert alert-@(isSuccess ? "success" : "danger")" role="alert">
        @message
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-warning" href="/blog/edit/@item.Blog_Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger" href="/blog/delete/@item.Blog_Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
                <th scope="row">@(++count)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        console.log('test');
    </script>
}