@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6GVsii7n-qKAPq9NXVbtmLZ2EgH_bcTan-w&usqp=CAU" class="rounded mx-auto d-block" alt="atm machine">
</div>
